* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  /* color: #333; */
  color: #5e5873;
  background-color: #d8d8d8;
  overflow-x: hidden;
}
p {
  color: #545454;
  line-height: 1.5rem;
  margin-bottom: 5px;
  font-size: 16.5px;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container_main {
  width: 100%;
  position: relative;
  display: flex;
}
.content {
  width: 100%;
}
.left_fixed_menu {
  width: 265px;
  position: relative;
  height: 100vh;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.left_menu {
  position: fixed;
  width: 225px;
  height: 100%;
  background-color: #fff;
  padding: 10px 20px;
  overflow-y: scroll;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.left_menu .logo {
  margin-bottom: 30px;
}
.left_menu .logo img {
  width: 80%;
  margin-right: 10px;
}
.left_menu .logo i {
  font-size: 20px;
  color: #7c7988;
}
.left_menu ul li a {
  font-weight: 400;
  border-radius: 4px;
  width: 100%;
  display: block;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 5px;
  color: #625f6e;
  font-size: 17px;
  transition: transform 0.25s ease;
}
.left_menu ul li a.active {
  background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
  box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
  color: #fff;
}

.left_menu ul li a:hover {
  transform: translateX(5px);
}

.top_menu .d-flex {
  width: 100%;
}
.top_menu {
  padding: 20px 30px;
  background: #fff;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  margin: 1.3rem 20px;
  border-radius: 0.428rem;
  z-index: 12;
  /* position: fixed;
    width: 100%; */
}
.login_reg a {
  margin: 0 10px;
  text-decoration: none;
  color: #625f6e;
  font-weight: 500;
  font-size: 17px;
}
.bookmark i {
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 5px;
}
.bookmark i:hover {
  color: #ffab5a;
}

.main_body {
  padding: 20px 30px;
}
.main_body::-webkit-scrollbar {
  display: none;
}
.main_body a {
  text-decoration: none;
  color: #625f6e;
}
.single_box {
  padding: 10px;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(34, 41, 47, 0.125);
  border-radius: 0.428rem;
  text-align: center;
}

.single_box h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

.desc h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #5e5873;
}
p span {
  color: #897ff2;
}
p span.active {
  color: #5cda94;
}

.read_more_container {
  bottom: 0;
  right: -360px;
  width: 0px;
  max-width: 0px;
  height: 100vh;
  background-color: #fff;
  /* box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%); */
  transition: 0.5s;
}
.read_more_container.active {
  width: 350px;
  max-width: 350px;
}

.read_more_container .title,
.footer_element p {
  border-bottom: 1px solid #d6d6d6;
}

.read_more_container .title h3 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #5e5873;
}
.read_more_container .title i.fa-times {
  font-size: 20px;
  cursor: pointer;
}
#post_title {
  font-size: 16px;
  margin-bottom: 0;
}
#post_ref {
  color: #b9b9c3 !important;
  font-size: 14px;
  margin-bottom: 20px;
}

#post_desc {
  margin-bottom: 30px;
}

.footer_element p {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer_element div span {
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid #d6d6d6;
}
.cursor_pointer {
  cursor: pointer;
}
.left_menu::-webkit-scrollbar {
  width: 10px;
}
.left_menu::-webkit-scrollbar-thumb {
  background: #7367f0;
  border-radius: 5px;
}
.left_menu_toggle span.toggle {
  display: none;
}

.main_container_toggle .left_fixed_menu,
.main_container_toggle .left_menu {
  width: 89px;
}
.search_bar {
  outline: none;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  padding: 5px;
  width: 90%;
  color: #5e5873;
}
.search_bar.active {
  display: block;
}
@media (max-width: 1024px) {
  /* .left_fixed_menu,.left_menu {
    width: 89px;
  } */
  .left_fixed_menu {
    width: 290px;
  }
  /* .logo img{
      display:none;
    } */
  /* .left_menu span.toggle{
    display:none;
  } */
}

@media (max-width: 576px) {
  .read_more_container.active {
    position: fixed;
    width: 100%;
    max-width: 100%;
    right: 0;
  }
  .read_more_container {
    position: fixed;
  }
  .left_fixed_menu {
    /* display:none; */
    position: fixed;
    left: -400px;
  }
  .left_fixed_menu.active {
    display: block;
    left: 0px;
  }
}

.main_container_toggle .left_menu img {
  display: none;
}
.single_box img {
  width: 65px;
}
@media (min-width: 576px) {
  .fa-bars/*,.logo .fa-times*/ {
    display: none;
  }
  .left_fixed_menu.active {
    display: none;
    left: 0px;
  }
  .container_main.active .fa-bars,
  .logo .fa-times {
    display: block;
  }
}
#search_bar {
  display: none !important;
}
#search_bar.active {
  display: flex !important;
}

input[type="submit"] {
  border-radius: 4px;
  display: block;
  text-decoration: none;
  padding: 5px;
  transition: transform 0.25s ease;
  outline: none;
  border: none;
  background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
  color: #fff;
  margin: 0 8px;
}

#search_option.active {
  display: none !important;
}

.fa-thumbs-up {
  color: #bfbfbf;
  font-size: 27px;
  cursor: pointer;
}
.fa-thumbs-up.active {
  color: #1a6bc9;
}

/* popup login */
.popupLogin {
  width: 250px;
  max-width: 250px;
  position: absolute;
  right: 50px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  top: -600px;
  transition: 0.5s;
}
.popupLogin .input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
}
.popupLogin .input button {
  width: 100%;
  border: none;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  padding: 5px;
  transition: transform 0.25s ease;
  outline: none;
  border: none;
  background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
  color: #fff;
}
.popupLogin p.head {
  padding: 10px;
  cursor: pointer;
}
.popupLogin p.head.active {
  border-bottom: 2px solid #2dd690;
}

.popLoginParent:hover .popupLogin {
  top: 85px;
}
.login_container {
  background: #fff;
}
.login_container input.login_input,.login_container button,select {
  padding: 10px;
  width: 100%;
  display: block;
  padding: 0.571rem rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: #6e6b7b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  appearance: none;
  border-radius: 0.357rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 10px;
  outline: none;
}
.login_container button {
  color: #fff;
  background-color: #6258cc;
  border-color: #5c52c0;
  transition: .3s;
}
.login_container button:hover {
  box-shadow: 0 8px 25px -8px #7367f0;
}
.login_container a{
  text-decoration: none;
  color:#7367f0
}
.profile_img img{
  max-width: 200px;
}
.profile button{
  color: #fff;
  background-color: #6258cc;
  border: none;
  transition: .3s;
  outline: none;
  border-radius: 5px;
}
.change_profile_info p{
  max-width: 300px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.info_input{
  max-width: 300px;
}
.info_input input, .info_input select{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  appearance: none;
  border-radius: 0.357rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 10px;
  outline: none;
}
#changeInfoInput{
  display:none;
}
.pointer{
  cursor: pointer;
}
/* mobile view custom responsive */

@media (max-width:570px){
  .change_profile_info p{
    max-width: 100%;
    width: 100%;
  }
  .info_input{
    width: 100%;
    max-width: 100%;
  }
  .col-sm-4{
    width:33%;
  }
  .mobile_footer{
    display: block !important;
    background:#fff;
    padding:8px 0;
    position: fixed;
    bottom:0;
    width:100%;
  }
  .mobile_footer i{
    font-size: 20px;
  }
  .profile_img img{
    max-width: 100px;
  }
  
}
@media (max-width:450px){
  .custom_width{
    width: 100% !important;
    max-width: 100% !important;
  }
}
.custom_width{
  max-width:400px;width:400px;
}